#deals {
  width: 95vw;
  height: 22em;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 3%;
  overflow-x: hidden;
}
#dealsDropdown {
  width: 20%;
  height: 90%;
  background-color: #f2f3f5;
  border-radius: 3px;
  border-left: 6px solid #e11818;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
#dealsDropdown h6 {
  color: #1e1e1e;
}
#dealsDropdown a {
  font-size: 0.8em;
  text-decoration: none;
  color: #7d7d7d;
}
#dealsProducts {
  height: 90%;
  width: 75%;
  border-radius: 3px;
  border-top: 6px solid #0467fb;
  background-color: #dde9fb;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
#topDealsDiv {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}
#topDealsDiv h6 {
  color: #1e1e1e;
  font-weight: 700;
}
#topDealsDiv h6 span {
  color: #df1618;
  font-weight: 700;
}
#middleDealsDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
#middleDealsText {
  height: 50%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
#normalDealsText {
  font-size: 1.5em;
  color: #1e1e1e;
  font-weight: 700;
}
#boldDealsText {
  font-size: 1em;
  color: #1e1e1e;
  font-weight: 700;
}
#boldDealsText span {
  color: #df1618;
  font-size: 1.5em;
  font-weight: 700;
}
#middleDealsImage {
  height: 90%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#middleDealsImage img {
  -webkit-user-drag: none;
  width: 15em;
  height: 15em;
}

/*  */
/*  */
/* Screens lower than 768px */
@media (max-width: 768px) {
  #deals {
    width: 100%;
    height: 70em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  #dealsDropdown {
    width: 90%;
    height: 40%;
    background-color: #f2f3f5;
    border-radius: 3px;
    border-left: 6px solid #e11818;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  #dealsProducts {
    height: 50%;
    width: 95%;
    border-radius: 3px;
    border-top: 6px solid #0467fb;
    background-color: #dde9fb;
  }
  #dealsDropdown h6 {
    color: #1e1e1e;
    font-weight: 700;
  }
  #dealsDropdown a {
    font-size: 0.9em;
    text-decoration: none;
    color: #7d7d7d;
  }
  #middleDealsDiv {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 80%;
  }
  #middleDealsText {
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  #middleDealsImage {
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #middleDealsImage img {
    -webkit-user-drag: none;
    width: 15em;
    height: 15em;
  }
}
