@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

* {
  font-family: "Poppins", sans-serif;
}
#popularViews {
  height: 150em;
  margin-top: 3%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  overflow-x: hidden !important;
  overflow-y: auto;
}
#topViewsDiv {
  height: 3em;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  width: 95vw;
  overflow-x: hidden;
}
#topViewsDiv h1 {
  color: #1e1e1e;
  font-size: 1.8em;
  font-weight: 700;
}
#popularProducts {
  height: 22em;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  overflow-x: hidden;
}
#item {
  width: 22%;
  height: 90%;
  background-color: #f2f3f5;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 0;
 overflow-x: hidden;
}
#item img {
  width: auto;
  height: 40%;
  -webkit-user-drag: none;
}
#item #itemText {
  height: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
#item #itemText p {
  color: #7d7d7d;
  font-size: 0.8em;
}
#item #itemText h6 {
  color: #1e1e1e;
  font-size: 1em;
  font-weight: 800;
}
#review {
  height: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
#review p {
  color: #7d7d7d;
  font-size: 0.8em;
  margin-top: 8%;
  margin: auto;
}
#star {
  width: auto;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#star i {
  color: #ffc118;
  font-size: 0.8em;
}
#popularPriceDiv {
  height: 10%;
  display: flex;
  flex-direction: row;
  justify-content: start;
}
#popularPriceDiv h3 {
  color: #1e1e1e;
  font-size: 1.1em;
  font-weight: 700;
  margin: auto;
}
#freeDeliveryDiv {
  height: 5%;
  padding: 0;
  overflow-x: hidden;
}
#innerFreeDelivery {
  height: 100%;
  width: 50%;
  margin-right: 100%;
  border-top-left-radius: 5px;
  background-color: #e01717;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#innerFreeDelivery h6 {
  color: #ffffff;
  font-size: 0.8em;
  margin: auto;
}
#weDeliver #topViewsDiv h1 {
  font-size: 1.5em;
}
#weDeliver {
  height: 25em;
  width: 95vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 0;
}
#innerWeDeliver {
  height: 80%;
  background-color: #f8e8e7;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
#innerWeDeliverText {
  height: 70%;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
#innerWeDeliverText p {
  color: #7d7d7d;
  font-size: 0.9em;
}
#innerWeDeliverText h1 {
  /* font-size: 2em; */
  font-weight: 700;
}
#innerWeDeliverText button {
  width: 8em;
  background-color: transparent;
  color: #1e1e1e;
  border: 2px solid #1e1e1e;
  text-align: center;
  transition: all 0.3s ease;
}
#innerWeDeliverText button:hover {
  transform: scale(1.05);
}
#innerWeDeliver img {
  -webkit-user-drag: none;
  user-select: none;
  height: 80%;
  width: auto;
}
#bottomAdvertisement {
  width: 95vw;
  height: 5%;
  border-radius: 5px;
  background-color: #f8e8e7;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
#innerBottomAdvertisement {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
#innerBottomAdvertisement img {
  width: 30%;
  height: auto;
  -webkit-user-drag: none;
  user-select: none;
}
#advertisementText {
  width: 70%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 1em;
}
#advertisementText h6 {
  color: #1e1e1e;
  font-size: 1em;
  font-weight: 600;
}
#advertisementText p {
  color: #1e1e1e;
  font-size: 0.8em;
}

/* Screens from 768px to 1025px */
@media screen and (min-width: 768px) and (max-width: 1025px) {
  #popularViews {
    height: 600em;
    margin-top: 3%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    overflow-x: hidden;
    overflow-y: auto;
  }
  #topViewsDiv {
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 95vw;
  }
  #popularProducts {
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  #item {
    width: 90%;
    height: 22%;
    background-color: #f2f3f5;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  #item #itemText {
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  #item #itemText p {
    color: #7d7d7d;
    font-size: 1em;
  }
  #item #itemText h6 {
    color: #1e1e1e;
    font-size: 1.8em;
    font-weight: 900;
  }
  #review {
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
  #review p {
    color: #7d7d7d;
    font-size: 1em;
    margin-top: 0%;
    text-align: center;
    margin: auto;
  }
  #popularPriceDiv {
    height: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #popularPriceDiv h3 {
    color: #1e1e1e;
    font-size: 2em;
    font-weight: 700;
    margin: auto;
  }
  #weDeliver {
    height: 25em;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  #innerWeDeliver {
    height: 80%;
    background-color: #f8e8e7;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
  #freeDeliveryDiv {
    height: 7%;
    padding: 0;
  }
  #innerFreeDelivery {
    height: 100%;
    width: 50%;
    margin-right: 100%;
    border-top-left-radius: 5px;
    background-color: #e01717;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #innerFreeDelivery h6 {
    color: #ffffff;
    font-size: 1em;
    margin: auto;
  }
  #bottomAdvertisement {
    width: 95vw;
    height: 10%;
    border-radius: 5px;
    background-color: #f8e8e7;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  #innerBottomAdvertisement {
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
  #innerBottomAdvertisement img {
    width: 30%;
    height: auto;
    -webkit-user-drag: none;
    user-select: none;
  }
  #advertisementText {
    width: 70%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 1em;
  }
  #advertisementText h6 {
    color: #1e1e1e;
    font-size: 1.5em;
    font-weight: 600;
  }
  #advertisementText p {
    color: #1e1e1e;
    font-size: 1.1em;
  }
}

/*  */
/*  */
/* Screens lower than 767px */
@media (max-width: 767px) {
  #popularViews {
    height: 500em;
    width: 100vw;
    margin-top: 3%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  #topViewsDiv {
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 95vw;
  }
  #popularProducts {
    height: 18%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  #item {
    width: 90%;
    height: 20em;
    background-color: #f2f3f5;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  #item #itemText {
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  #review {
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  #popularPriceDiv {
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  #weDeliver {
    height: 45em;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  #innerWeDeliver {
    height: 80%;
    background-color: #f8e8e7;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 0;
  }
  #innerWeDeliverText {
    height: 70%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 1em;
  }
  #bottomAdvertisement {
    width: 100vw;
    height: 10%;
    border-radius: 5px;
    background-color: #f8e8e7;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  #innerBottomAdvertisement {
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
  #innerBottomAdvertisement img {
    width: 30%;
    height: auto;
    -webkit-user-drag: none;
    user-select: none;
  }
  #advertisementText {
    width: 70%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 1em;
  }
  #advertisementText h6 {
    color: #1e1e1e;
    font-size: 1.2em;
    font-weight: 600;
  }
  #advertisementText p {
    color: #1e1e1e;
    font-size: 1em;
  }
}
